/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Sen', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */



body {
	margin: 0 8%;
}


.flex-container {
	display: flex;
	
}


/*-------------------------- Navigation------------------------ */



@keyframes navBar{
	0%   {color: blue;}
	25%  {color: black;}
	50%  {color: purple;}
	100% {color: pink}
}


.navagation {
	height: 10vw;
	width:100%;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.navagation a, .navagation img{
	color: black;
	min-width: 10.5%;
	text-decoration: none;
}


nav a:hover {
	animation-name: navBar;
	animation-duration: 2.5s;
	color: pink;
}

.top-img {
	display:none;
}


/*--------------------------  Home Header    ------------------------ */
h2 {
	font-weight: bold;
}

.header-main {
	padding: 2vh 0;
	margin: 0 0 4vh 0;
	justify-content: flex-end;
}

.header-main h1{
	text-align: center;
	align-self: center;
	min-width: 35vw;
	font-size: 5.5vw;
	font-weight: bold;
	margin: 0;
	line-height: 1.2;
	transform: scaleX(.8);
}

header img {
	width: 35vw;
}

#btnStart {
	width: 16vw;
	background: white;
	border: 1px solid black;
	line-height: 1.6;
	font-size: 1rem;
	transform: scaleX(1.3)
}

#btnStart:hover {
	background: black;
	color: white;
}


/*--------------------------   Home Content   ------------------------ */


.upperContent, .lowerContent {
	border-top: 2px solid black;
	text-align: left;
}


.upperContent div, .lowerContent div {
	margin:3vh 0;
	padding-right: 1vw;
}

.upperContent {
	padding: 2vh 0;
}

.upperContent div {
	margin-bottom: 2vh;
}

.middle-img{
	background: url(../img/mid-page-accent.jpg);
	background-size: cover;
	height: 20vh;
	width: 100%;
}

.lowerContent {
	justify-content: space-between;
	border-top: none;
	border-bottom: 2px solid black;
}

.lowerContent div{
	width: 28vw;
}


/* --------------------Home- Lower ------------------------- */


.contactInfo {
	text-align: left;
	padding-top: 4vh;
}

.contactInfo div {
	margin-bottom: 4vh;
}

footer {
	text-align: center;
	margin: 0 0 5vh 0;
}

/*-------------------------- Services Header ------------------- */


.services-header {
	border-bottom: 2px solid black;
	padding: 4vh 0;
	margin-bottom: 2vh;
}

.services-header h2 {
	font-size: 1.25rem;
	font-weight: bolder;
}

.services-header-img {
	width: 100%;
	margin: 2% 0;
}



/*--------------------Services Content--------------------------*/

.content {
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 1% 0;
}

.box {
	
	flex-flow: column wrap;
	background: #e5e5e5;
	border: 1px solid black;
	width: 48%;
	min-width: 30%;
	padding: 2%;
}

.box button {
	border: 1px solid black;
	background: white;
	margin-top: 4%;
	width: 25%;
	padding: 1.5%;
	border-radius: 7px;
}

.box button:hover{
	background: black;
	color: white;
}




/* -----------------------Services Lower---------------------*/

.footer-container {
	margin-top: 2%;
	flex-flow: row wrap;
	border-top: 1px solid black;
	justify-content: space-between;
	padding: 2% 0;
}

.footer-box {
	display: flex;
	flex-flow: column wrap;
	width: 48%;
	text-align: left;
	justify-content: space-evenly;
}

.footer-box img{
	width: 100%;
}

/*-------------------------Products Header------------------------ */

.product-header {
	border-bottom: 1px solid black;
	margin-bottom: 3%;
}

.product-gallery{
	justify-content: flex-start;
	margin: 5% 0 3% 0;
	flex-flow: row wrap;
	border: 10px solid grey;
	background: #e5e5e5;
	
}

.product-gallery img{
	width: 12%;
	margin: 1%;
	opacity: 50%;
	border: 1px solid black;
	transition: padding 1s, opacity 2s, height 1s, width 1s;
} 

.product-gallery img:hover {
	padding: 0;
	opacity: 100%;
	width: 15%;
}




/*---------------------Product Content--------------------------*/


.product-content-upper {
	background: #e5e5e5;
	padding: 1% 0;
}

.products {
	flex-flow: column wrap;
	padding: 1%;
	width: 50%;
}

.products p{
	margin: 1% auto;
}



/* ------------------------Product - Lower -----------------------*/
.product-content-lower {
	margin: 3% 0;
	border-top: 1px solid black;
	padding: 3% 0;
}

.product-content-lower img {
	padding-right: 1%;
	width: 50%;
}

.products-lower {
	flex-direction: column;
	justify-content: space-between;
	background: #e5e5e5;
	padding: 1%;
}

.products-lower h3 {
	align-self: center;
}


/* -------------------Media Queries 800px----------------------*/
@media (max-width: 800px) {
/* --------------------Home Page------------------------------- */
	body {
		margin: 0 3vw;
	}

	.logo {
		display: none;
		visibility: hidden;
	}

	.top-img {
		display: flex;
		margin: 3vh auto;
	}

	.navagation {
		width: 120%;
	}

	.header-main {
		justify-content: center;
		padding: 0;
		margin: 4vh 0 7vh 0;
	}

	.header-main h1 {
		font-size: 4em;
	}

	header img {
		display: none;
	}

	.lowerContent div{
		width: 30vw;
	}

	.contactInfo {
		margin: 4vh 0 0 1vw;
	}

	/* --------------------------------Services page---------------------------------- */
	.services-header-img {
		display: flex;

	}

	.content {
		flex-direction: column;
		padding: 0;
	}

	.box {
		width: 100%;
		margin: 1vh 0;
	}

}

@media (max-width: 500px) {
	/* ---------------------------------Home Page------------------------------------ */
	body {
		margin: 0;
	}

	.container-img {
		margin: 0 auto;
		border-bottom: 1px solid black;
		width: 100%;
	}
	
	.top-img {
		margin: 0 auto;
		padding: 2vh;
	}
	
	.navagation {
		flex-direction: column;
		justify-content: space-around;
		height: 35vh;
		width: 100%;
	}

	nav a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		height: 5vh;
		width: 100%;
	}

	.nav-item {
		border-bottom: 1px solid black;
	}

	.logo-img {
		height: 0;
	}

	header {
		margin: 0 0 2vh 0;

	}

	.header-main h1 {
		font-size: 3rem;
	}

	#btnStart {
		width: 30vw;
	}


	.upperContent, .lowerContent {
		flex-direction: column;
		justify-content: space-around;
	}

	.lowerContent div {
		width: 100%;
	}

	.middle{
		display:flex;
	}

	.middle-img {
		height: 10vh;
	}

	.lowerContent {
		padding: 0;
	}

	.upperContent, .lowerContent, .middle-img, .contactInfo{
		margin: 0 3vw;		
	}

	/* -------------------------Services Page -------------------------- */
	.services-header-img {
		display: none;
	}

	.services-header h2 {
		text-align: center;
	}
	
	.main-container {
		margin: 0 2vw;
	}

	.box {
		align-items: center;
	}

	.box button {
		width: 30vw;
	}

	.footer-box p {
		margin: 1vh 0;
	}
}